/* Menu */
.menu {
    background-color: #282c34;
    min-width: 100%;
    min-height: 5vh;
    padding-top: 1vh;
}

.menu-link {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0 0 20px;
    padding: 0;
}

.active {
    color: dodgerblue;
}


/* Screen */
.screen {
    background-color: #282c34;
    min-height: 95vh;
    min-width: 100vw;

    background: #282c34;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.screen-container {
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

div.screen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;

}

a.screen-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

a.screen-content:hover {
    color: lightgrey;
    font-size: 19px;
    font-weight: 600;
}


/* SigInForm */
.sign-in-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    background-color: #282c34;
}

.sign-in-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
}

.sign-in-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.sign-in-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}


a.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-decoration: none;
}
